extends layout

block content
    h1 Analytics
    table
        thead
            tr
                th Path
                th Visits
        tbody
            each valor in data
                tr
                    td= valor._id.path
                    td= valor.count
                   

 
